@font-face{
    font-family: "MuseoCyrl500";
    src: url("fonts/MuseoCyrl500.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MuseoCyrl300";
    src: url("fonts/MuseoCyrl300.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MuseoCyrl100";
    src: url("fonts/MuseoCyrl100.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: MuseoCyrl500, sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #FFFFFF;
}
body * { box-sizing: border-box }
img {
    max-width: 100%;
    width: auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}
h1{
    font-size: 15px;
    font-weight: bold;
}
a{
    color: #000000;
    text-decoration: none;
}
.wrapper {
    overflow: hidden;
    max-width: 1349px;
    margin: 0 auto;
}
input{
    outline: none;
}
button{
    outline: none;
}
select{
    outline: none;
}
header{
    background: url("images/header/beach.png") no-repeat;
    background-size: cover;
}
.communication{
    display: flex;
    justify-content: space-between;
    max-width: 1191px;
    margin: 0 auto;
}
#passat{
    padding: 6px 0;
}


#passat h1{
    font-family: 'El Messiri', sans-serif;
    font-size: 15px;
    color: #1a84a2;
    font-weight: bold;
    text-align: center;
}
.center{
    display: block;
    margin: 0 auto;
}
.offices{
    padding-top: 31px;
}
.offices h1{
    padding-bottom: 15px;
}
.offices p{
    font-family: MuseoCyrl300,sans-serif;
    padding-bottom: 10px;
}
#passat p{
    font-family: MuseoCyrl100, sans-serif;
    color:#653928;
    font-size: 12px;
    text-align: center;
}
#colornumb{
    color: #002339;
}
.communicationLinks{
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    font-size: 11px;
}
.offices a {
    font-family: MuseoCyrl300, sans-serif;
    font-size: 13px;
}
.search{
    color: #FFFFFF;
    font-family: MuseoCyrl100,sans-serif;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 13px 32px 22px 40px;
    background-color: #0e93cb;
}
.search p{
    font-family: MuseoCyrl100,sans-serif;
    font-size: 13px;
    padding-left: 21px;
    padding-bottom: 4px;
}
.search select{
    font-family: MuseoCyrl100,sans-serif;
    font-size: 14px;
    padding-left: 30px;
    border-radius: 30px;
    width: 315px;
    height: 36px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.search div{
    padding-right: 20px;
}
.selectTour{
    position: relative;
}
.selectTour:before{
    position: absolute;
    content: '';
    background-image: url("images/search/noun_Arrow_2531687 копия.png");
    width: 7px;
    height: 13px;
    display: block;
    bottom: 13px;
    right: 30px;

}
.search input{
    font-family: MuseoCyrl100,sans-serif;
    font-size: 14px;
    border-radius: 30px;
    padding-left: 49px;
    width: 275px;
    height: 36px;
    border: none;
}
.selectData{
    position: relative;
}
.selectData:before{
    position: absolute;
    content: '';
    background: url("images/search/noun_Calendar_697504.png");
    width: 18px;
    height: 18px;
    display: block;
    bottom: 9px;
    left: 14px;
}
#btnSearch{
    font-family: MuseoCyrl300,sans-serif;
    background-color: #ffe132;
    width: 182px;
    height: 36px;
    border-radius: 30px;
    border: none;
}
#btnSearchBlock{
    padding-top: 20px;
}
.main{
    display: flex;
    padding: 28px 35px 0 26px;
}

#siteSearsch{
    font-family: MuseoCyrl100 sans-serif;
    font-size: 12px;
    width: 177px;
    height: 36px;
    border-radius: 30px;
    border: 1px solid #6a6a6a;
    padding-left: 27px;
}
.searchSite{
    position: relative;
}
.searchSiteButton {
    border: none;
    padding: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 10px;
    right: 15px;
    background: url("images/mainBlock/noun_Search_2535698.png");
}
.lists{
    margin-left: 4px;
    margin-top: 20px;
    background-color: #f8f8f8;
    max-width: 170px;
    border-radius: 5px;
    padding-bottom: 16px;
}
.listCountryes{
    width: 170px;
    height: 28px;
    font-family: MuseoCyrl300 sans-serif;
    text-align: center;
    border-radius: 5px;
    background-color: #a5defc;
}
.listCountryes h1{
    font-size: 14px;
    padding-top: 7px;
}
ul{
    padding-left: 27px;
}
li{
    font-family: MuseoCyrl100, sans-serif;
    color: #206291;
    padding-right: 5px;
    padding-bottom: 6px;
}
li span{
    color: #000000;
}

.countainer{
    padding-left: 26px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.countryImages{
    margin: 0 15px 15px 0;
    display: block;
    width: 233px;
    height: 211px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.22),
    -4px 4px 6px -1px rgba(0, 0, 0, 0.19);
}
.countryImages p{
    padding-top: 19px;
    font-size: 20px;
    font-weight: bold;
}
#amerika{
    padding-top: 10px;
}
#SPO button{
    font-family: "El Messiri",sans-serif;
    background-color: #ffe132;
    font-size: 12px;
    width: 138px;
    height: 28px;
    border-radius: 30px;
    border: none;
    margin-left: 13px;
}
.Spo{
    width: 170px;
    height: 31px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff4b3;
}
.Spo p{
    font-family: "El Messiri", sans-serif;
    font-weight: bold;
    padding-top: 7px;
}
.spotext{
    padding: 15px 17px 5px 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.spotext p{
    padding: 12px 0;
    line-height: 1.5;

}
#InpEmail{
    height: 30px;
    width: 139px;
    padding: 0 10px;

}
#InpConfirm{
    height: 20px;
    border: none;
}
.inputConfirm {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;

}
.inputConfirm input{
   padding: 2px;
}
.inputConfirm label{
    padding-top: 4px;
    padding-bottom: 7px;
}
.cards{
    text-align: center;
    padding: 10px 0 17px;
}
footer{
    background-color: #fff4b3;
}
.footerNav{
    display: flex;
    justify-content: space-between;
    padding: 38px 35px 5px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.footerNav2{
    display: flex;
    justify-content: space-between;
    width: 505px;
}
.rusTour{
    padding-left: 380px;
}
.rusTour img{
    margin-bottom: -3px;
}
#cartSite{
    font-family: MuseoCyrl100, sans-serif;
    text-decoration: underline;
}
#cartSite2{
    padding-bottom: 10px;
}

@media (max-width: 1200px) {
    .search select {
        width: 215px;
        height: 36px;
        background-position: 190px center;
    }
    .search input{
        width: 200px;
        height: 36px;
    }
    .communication {
        padding: 0 15px;
    }
}
@media (max-width: 950px){
    .footerNav {
        text-align: center;
        display: block;
    }
    .footerNav2 {
        display: block;
        justify-content: center;
        width: auto;
    }
    .rusTour {
        text-align: center;
        padding-left: 0;
    }
}
@media (max-width: 780px){
    .navigaton{
        display: none;
    }
}
@media (max-width: 715px){
    .communication {
        flex-wrap: wrap;
        justify-content: center;
    }
    #passat{
        width: 100%;
    }
    .offices{
        padding-right: 20px;
    }
}
@media (max-width: 600px) {
 .countryImages{
     width: 150px;
     height: 140px;
 }
    .countryImages p{
        padding-top: 11px;
        font-size: 13px;
    }
.main{
    padding-left: 0;
    padding-right: 0;
}
    .offices {
        padding-top: 0;
    }
    .offices p{
        padding-bottom: 5px;
    }
    .offices h1 {
        padding-bottom: 5px;

        font-size: 11px;
    }
    body{
        font-size: 8px;
    }
    #ofiicesID{
        display: none;
    }
}